{% extends "layout.html" %}

{% block title %}
    Ticket Sense
{% endblock %}

{% block main %}
    <form action="/" method="post">
        <div class="mb-5">
            <p class="text-white">Copy paste the link of your preferred theater from <a href='https://in.bookmyshow.com/' target="_blank" rel="noopener noreferrer" >BookMyShow</a> or <a href='https://www.ticketnew.com/' target="_blank" rel="noopener noreferrer" >TicketNew</a></p>
            <input id="inputbox" autocomplete="off" autofocus class="form-control mx-auto w-75 text-white bg-dark" name="link" placeholder="Ticket Booking Link" type="text">
        </div>
        <div class="mb-5">
            <p class="text-white">Type the name of the movie you need notification for</p>
            <input id="inputbox" autocomplete="off" class="form-control mx-auto w-75 text-white bg-dark"  name="filmname" placeholder="Film Name" type="text">
        </div>

        <div class="mb-5">
            <p class="text-white">Select the duration for which Ticket Sense should work</p>
            <input  id="datebox" autocomplete="off" class="date form-control w-50 mx-auto text-white bg-dark text-center" type="text" name="date" placeholder="Date">
        </div>

        <button class="btn btn-primary mx-auto" type="submit">Enable Ticket Sense</button>

    </form>

    <div class="mt-5">
        <a class="link-success" href="/submitted"><button class="btn btn-secondary">Show all triggers</button></a>
    </div>


    <script>
        const elem = document.querySelector('input[name="date"]');
        const datepicker = new Datepicker(elem, {
        format: 'dd/mm/yyyy',
        todayHighlight: true,
        });
    </script>

{% endblock %}