{% extends "layout.html" %}

{% block title %}
    Submitted
{% endblock %}

{% block main %}

<h3 class="text-white mb-5"> 🎉  Submitted!!!  🎉 </h3>
<div >
    <p class="text-white">List of all triggers</p>
</div>

<table class="text-white mx-auto">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for data in datas %}
            <tr>
                <td>{{ data.name }}</td>
                <td>
                    <form action="/deregister" method="post">
                        <input name="id" type="hidden" value="{{ data.id }}">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}